/* Resetear márgenes y padding en todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo del documento */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

/* Estilo para la sección principal */
.main-section {
    max-width: 100%;
    padding: 20px;
    text-align: justify;
    margin: 0;
}

/* Estilo para las imágenes dentro de la sección principal */
.main-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Estilo para los títulos dentro de la sección principal */
.main-section h2, .main-section h3 {
    color: #333;
    margin-top: 20px;
}

/* Estilo para los títulos dentro de la sección principal */
.main-section h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

/* Estilo para los párrafos dentro de la sección principal */
.main-section p {
    margin-bottom: 20px;
}

/* Estilo para la sección de beneficios */
.beneficios-section {
    max-width: 100%;
    padding: 20px;
    text-align: justify;
    background-color: lightgreen;
    margin: 0;
}

/* Estilo para las imágenes dentro de la sección de beneficios */
.beneficios-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Estilo para los títulos dentro de la sección de beneficios */
.beneficios-section h2, .beneficios-section h3 {
    color: #333;
    margin-top: 20px;
}

/* Estilo para los títulos dentro de la sección de beneficios */
.beneficios-section h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

/* Estilo para los párrafos dentro de la sección de beneficios */
.beneficios-section p {
    margin-bottom: 20px;
}

/* Estilo para el pie de página */
.footer {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: #fff;
    margin: 0;
}

/* Estilo para los enlaces de navegación en el pie de página */
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
