*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
}

header{
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    background-color: lightgreen;
}

/* Contenedores del header */
.menu-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-menu{
    display: flex;
    flex-direction: row;
}

/* Contenedor menu */
.menu-1{
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.menu-1 a{
    font-size: 15px;
}

.menu-1 h1{
    font-size: 50px;
    padding-top: 10px;
    margin: auto;
}

/* Area nav */
.menu-2{
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgb(56, 109, 56);
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    list-style: none;
    padding: 20px 60px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
}


/* Secciones */
.main-section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.subtitulo{
    width: 100%;
    height: 80px;
}

.subtitulo h2{
    font-size: 35px;
    text-align: center;
}

/* Caja principal flexible */
.caja-flex{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row-reverse;
}

.main-rese침a{
    width: 45%;
    height: 100%;
    margin-left: 10px;
    text-align: start;
}

.main-rese침a p{
    font-size: 18px;
    padding: 15px;
}

.main-img{
    width: 50%;
    height: 100%;
    box-shadow: 0px 1px 6px 3px rgb(15, 100, 7);
}

.main-img img{
    width: 100%;
    height: 100%;
}

/* Descripcion de seccion */
.descripcion-section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.descripcion{
    width: 100%;
    padding: 50px;
}

/* Cajas de descripciones */
.d-1{
    height: 15%;
    font-size: 22px;
    text-align: start;
    margin-top: -20px;
}

.d-2{
    margin-top: -20px;
    height: 85%;
    display: flex;
    justify-content: space-between;
}


/* Caja de texto */
.descripcion-texto{
    width: 55%;
    height: 100%;
}

.descripcion-texto p{
    font-size: 18px;
    padding-bottom: 15px;
}

/* Caja de imagen */
.descripcion-img{
    width: 42%;
    height: 100%;
    box-shadow: 0px 1px 6px 4px rgb(15, 100, 7);
}

.descripcion-img img{
    width: 100%;
    height: 100%;
}


/* Secciones de beneficios */
/* Cajas principales */
.beneficios-section{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.beneficios-cajas{
    width: 93%;
    margin: auto;
}

/* Estilo a la caja de subtitulos */
.c-1{
    height: 10%;
    margin-top: 50px;
    text-align: end;
}

.c-2{
    height: 90%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* Estilo a subtitulos */
.c-1 h2{
    font-size: 35px;
    padding-bottom: 10px;
}

.c-1 h3{
    font-size: 25px;
}

/* Estilo a parrafo */

.beneficios-parrafo{
    width: 55%;
    height: 80%;
    margin-left: 15px;
    margin-top: 20px;
}

.beneficios-parrafo p{
    font-size: 18px;
    line-height: 30px;
    padding-top: 50px;
    text-align: justify;
}

.beneficios-parrafo a{
    font-size: 18px;
    margin-top: 90px;
    display: flex;
}


/* Estilo a caja img */
.beneficios-img{
    width: 45%;
    height: 100%;
    margin-top: -60px;
}

.beneficios-img img{
    width: 100%;
    height: 100%;
}


/* Caja tipo */
/* Estilo a cajas */
.tipo-section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.tipo-caja{
    width: 92%;
    margin: auto;
}


/* Estilo a subtitulos */
.tc-1{
    height: 10%;
}

.tc-1 h2{
    font-size: 35px;
}

/* Estilo a parrafo */
.tc-2{
    height: 70%;
    display: flex;
}

.tipo-parrafo{
    height: 100%;
    width: 60%;
    padding-left: 20px;
}

.tipo-parrafo p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify; 
}

.tipo-parrafo a{
    font-size: 18px;
    margin-top: 120px;
    display: flex;
}

/* Estilo a imagen */
.tipo-img{
    height: 100%;
    width: 40%;
}

.tipo-img img{
    width: 100%;
    height: 100%;
}



/* Caja ejercicios */
/* Estilo a cajas */

.ejercicios-section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.ejercicios-cajas{
    width: 92%;
    margin: auto;
}

/* Estilos a cajas por separado */
.ec-1{
    height: 10%;
}

.ec-2{
    height: 70%;
    display: flex;
    
}


/* Estilo a subtitulos */
.ec-1 h2{
    font-size: 35px;
}

/* Estilo a caja de parrafo */
.ejercicios-parrafo{
    height: 100%;
    width: 60%;
    padding-left: 20px;
}

.ejercicios-parrafo p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify; 
}

.ejercicios-parrafo a{
    font-size: 18px;
    margin-top: 160px;
    display: flex;
}

/* Estilo a caja de imagen */
.ejercicios-img{
    height: 100%;
    width: 40%;
}

.ejercicios-img img{
    width: 100%;
    height: 100%;
}



/* Caja importancia */
/* Estilo a cajas */

.importancia-section{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.importancia-cajas{
    width: 92%;
    margin: auto;
}

/* Estilos a cajas por separado */
.ic-1{
    height: 10%;
}

.ic-2{
    height: 70%;
    display: flex;
    
}


/* Estilo a subtitulos */
.ic-1 h2{
    font-size: 35px;
}

/* Estilo a caja de parrafo */
.importancia-parrafo{
    height: 100%;
    width: 60%;
    padding-left: 20px;
}

.importancia-parrafo p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify; 
}

.importancia-parrafo a{
    font-size: 18px;
    margin-top: 120px;
    display: flex;
}

/* Estilo a caja de imagen */
.importancia-img{
    height: 100%;
    width: 40%;
}

.importancia-img img{
    width: 100%;
    height: 100%;
}



/* Caja Nutricion deportiva */
/* Estilo a cajas */

.nutricion-section{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.nutricion-cajas{
    width: 92%;
    margin: auto;
}

/* Estilos a cajas por separado */
.nc-1{
    height: 10%;
}

.nc-2{
    height: 70%;
    display: flex;
    
}


/* Estilo a subtitulos */
.nc-1 h2{
    font-size: 35px;
}

/* Estilo a caja de parrafo */
.nutricion-parrafo{
    height: 100%;
    width: 60%;
    padding-left: 20px;
}

.nutricion-parrafo p{
    font-size: 18px;
    line-height: 30px;
    text-align: justify; 
}

.nutricion-parrafo a{
    font-size: 18px;
    margin-top: 150px;
    display: flex;
}

/* Estilo a caja de imagen */
.nutricion-img{
    height: 100%;
    width: 40%;
}

.nutricion-img img{
    width: 100%;
    height: 100%;
}


/* Contenedor consejos */
/* Estilo a cajas */

.consejos-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.consejos-cajas{
    width: 92%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
}

/* Estilo a caja por separado */
.cc-1{
    text-align: center;
}

/* Estilo a subtitulo */
.cc-1 h2{
    font-size: 30px;
}

/* Estilo a parrafos */
.cc-2{
    text-align: justify;
}

.cc-2 p{
    font-size: 18px;
    line-height: 20px;
}

/* Estilo a la lista */
.cc-3{
    text-align: justify;
}

.cc-3 ul li{
    font-size: 16px;
    line-height: 20px;
    list-style-position: inside;
}

/* Estilo a parrafo inferior */
.cc-4{
    text-align: justify;

}

.cc-4 p{
    font-size: 18px;
    line-height: 20px;
}

.cc-4 a{
    font-size: 18px;
    margin: 50px 0;
    display: flex;
}


/*  Contenedor testimonio */
/* Estilo a caja */
.testimonio-section{
    width: 100%;
    background-color: lightcyan;
}

.testimonio-title{
    width: 92%;
    margin: auto;
    text-align: center;
}

/* Estilo a subtitulo */
.testimonio-title h2{
    padding: 50px 0;
    font-size: 30px;
}

.testimonio-container{
    width: 92%;
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;

}

.testi-txt{
    width: 30%;
    height: 350px;
}

/* Estilos a cajas*/
.testi-img{
    width: 100%;
    height: 65%;
    box-shadow: 0px 0px 6px 2px black;
}

/* Estilo a las imagenes */
.testi-img img{
    width: 100%;
    height: 100%;
}

/* Estilo a texto */
.testi-info{
    width: 100%;
    height: 35%;
}

.testi-info h3{
    font-size: 20px;
    padding-top: 5%;
}

.testi-info p{
    font-size: 15px;
    padding-top: 3%;
    text-align: justify;
}

/* Contenedor motivacion */
.motivacion-container{
    width: 100%;
    height: 120px;
    background-color: lightcyan;
    text-align: center;
}

.motivacion-container h3{
    font-size: 40px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}

.motivacion-container p{
    font-size: 18px;
}

/* Apartado Multimedia Motivacion*/
/* Audio */
.motivacion-audio{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
}

.motivacion-audio h3{
    font-size: 25px;
    padding: 25px 0;
}

.motivacion-audio audio{
    width: 30%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px blue;
}


/* Video */
.motivacion-video{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
}

.motivacion-video h3{
    font-size: 25px;
    padding: 25px 0;
}

.m-video{
    width: 70%;
    height: 75%;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
}

.m-video video{
    width: 100%;
    height: 100%;
}


/* Contenedor footer */
/* Cajas footer */
.footer-container{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    background-color: #222;
}

/* Estilo a cajas */
.footer-caja{
    width: 92%;
    margin: auto;
}

/* Caja de contacto */
.fc-1{
    height: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.caja-form{
    width: 50%;
}

.caja-redes{
    width: 50%;
    height: 100%;
    text-align: center;
}


/* Estilo por cajas */
/* Estilo a texto */
.caja-coment{
    width: 100%;
    height: 10%;
    text-align: center;
}

.caja-coment h4{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}

/* Estilo a caja de formulario */
.formulario{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.formulario label{
    color: white;
    padding-left: 5px
}

.formulario input{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid blue;
}

.formulario textarea{
    height: 170px;
    margin-bottom: 10px;
    border-radius: 12px;
}

/* Estilo a caja de redes sociales */
.caja-redes h2{
    color: white;
    font-size: 25px;
    margin: auto;
    margin-bottom: 15px;
}

.enlaces-redes{
    height: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-img{
    width: 6%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.icon-img a{
    color: white;
    margin-left: -10px;
}

/* Caja de derechos de autor */

.fc-2{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.fc-2 p{
    color: white;
    font-size: 15px;
}

.fc-3{
    margin-top: -20px;
    text-align: start;
}

.fc-3 a{
    color: white;
    font-size: 15px;
}


/* Estilos de los enlaces de navegaci칩n en el pie de p치gina */
.fc-navegacion a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.fc-navegacion a:last-child {
    margin-right: 0;
}




